@model Bienteswebsite.Database.Festival
@{
    ViewData["Title"] = "Festival";
}


<h2>@Model.Naam</h2>
<p>@Model.Beschrijving</p>
<p>De minimale leeftijd: @Model.Leeftijd</p>
<p>Locatie: @Model.Locatie</p>
<p>Prijs: €@Model.Prijs</p>
<p>Begintijd: @Model.Begintijd</p>
<p>Eindtijd: @Model.Eindtijd</p>
<img src="@Model.Logo"/>
<img src="@Model.Foto"/>




