@model Bienteswebsite.Database.Festival
@{
    ViewData["Title"] = "Festival";
}

<h2>@Model.Naam </h2> <img src="@Model.Logo" />
<p>@Model.Beschrijving</p>

<div class="column">
    <div class="card">
        <div class="container">
            <p>De minimale leeftijd: @Model.Leeftijd</p>
            <p>Locatie: @Model.Locatie</p>
            <p>Prijs: €@Model.Prijs</p>
            <p>Begintijd: @Model.Begintijd</p>
            <p>Eindtijd: @Model.Eindtijd</p>
        </div>
    </div>
</div>
<div class="column">
            <img src="@Model.Foto" />
</div>


            <ul>
                <li><a href="/bestelpagina">Bestellen</a></li>
            </ul>




