@model Bienteswebsite.Database.Festival
@{
    ViewData["Title"] = "Festival";
}


<h2>@Model.Naam</h2>
<p>@Model.Beschrijving</p>
<p>@Model.Leeftijd</p>
<p>@Model.Locatie</p>
<p>@Model.Prijs</p>
<p>@Model.Beschikbaarheid</p>




